*~
*#
.#*
*.org
test/
progress/
TODO.org
.png
*.html
*.tex
.Rhistory
.Rapp.history
.RData
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
# vignettes/*.html
# vignettes/*.pdf
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/
po/*~
*.RDS
# custom files
test.R
closed.R
