importFrom(stats,rbinom)
importFrom(stats, predict)
importFrom(utils,head)
importFrom(mgcv,gam)
importFrom(RMark, mark)
importFrom(shiny, fluidPage)
importFrom(shiny, titlePanel)
importFrom(shiny, tags)
importFrom(shiny, tabsetPanel)
importFrom(shiny, tabPanel)
importFrom(shiny, shinyApp)
S3method(as.data.frame,HistRMarkLong)
S3method(as.data.frame,fittedRemMLE)
S3method(as.data.frame,fittedRemMLERec)
S3method(print,HistRMarkLong)
S3method(print,fittedRemMLE)
S3method(print,fittedRemMLERec)
export(MZest)
export(genHistRMark)
export(recRemMLE)
export(remSim)
export(removeMLE)
export(fitCatches)
export(projCatches)
export(shinyView)
export(remRats)
